<button ng-click="goPrevious()"> <i class="fa fa-arrow-left" aria-hidden="true"></i> Previous Page </button>
<span>({{pageNum}}/{{pageCount}})</span>
<button ng-click="goNext()"> Next Page <i class="fa fa-arrow-right" aria-hidden="true"></i> </button>
<canvas id="pdf-canvas" class="rotate0"></canvas>
<button ng-click="goPrevious()"> <i class="fa fa-arrow-left" aria-hidden="true"></i> Previous Page </button>
<span>({{pageNum}}/{{pageCount}})</span>
<button ng-click="goNext()"> Next Page <i class="fa fa-arrow-right" aria-hidden="true"></i> </button>